body {
  background-color:#fff;
  font-family:sans-serif;
  color: #333333;
  font: 14px Helvetica, sans-serif;
  box-sizing: border-box;
}

#page {
  margin: 20px;
  background-color: #ffffff;
}

iframe {
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #777777;
  color: #ffffff;
  border: 1px solid #f1f1f1;
  padding: 8px;
}

td {
  background-color: #ffffff;
  color: #777777;
  border: 1px solid #e1e1e1;
  padding: 8px;
}

tr:nth-child(2n+2) {
  background-color:#f3f3f3;
}

.header {
  padding:20px;
}

.header h1 {
  padding-bottom: 0.3em;
  color: #008080;
  font-size: 45px;
  font-weight: normal;
  font-family: Garmond,"sans-serif";
  text-align: left;
  margin: 0;
}

.header h1 span {
  font-weight: bold;
  font-family: Garmond,"sans-serif";
  color: #000000;
}

h2 {
  padding-bottom: 0.2em;
  border-bottom: 1px solid #eee;
  margin-top: 2px;
}

.header h3 {
  padding-top: -5px;
  padding-left: 50px;
  font-weight: bold;
  font-family: Arial,"sans-serif";
  font-size: 17px;
  color: #b6b6b6;
  margin: -25px 0 -5px 0;
}

.box {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 1em 1em 1em 1em;
  box-shadow: 1px 7px 7px 1px rgba(0, 0, 0, 0.4);
  background: #ffffff;
  margin-bottom: 20px;
}

.box-full {
  margin: 20px 20px 20px 20px;
  width: 840px;
}

.box-half {
  margin: 20px 20px 20px 20px;
  width: 380px;
}

.box380 {
  width: 380px;
  padding: 20px;
  margin: 20px 20px 20px 20px;
  border: 1px solid #ddd;
  border-radius: 1em 1em 1em 1em;
  box-shadow: 1px 7px 7px 1px rgba(0, 0, 0, 0.4);
  background: #ffffff;
}

.left {
  float: left;
  clear: left;
}

.right {
  float: right;
  clear: right;
}

@media (max-width: 494px) {
  #page {
    width: inherit;
    margin: 5px auto;
  }

  #content {
    padding: 1px;
  }

  .box380 {
    margin: 8px 8px 12px 8px;
    padding: 10px;
    width: inherit;
    float: none;
  }

  .box-full {
    margin: 8px 8px 12px 8px;
    padding: 10px;
    width: inherit;
    float: none;
  }
}

@media (min-width: 494px) and (max-width: 980px) {
  #page {
    width: 465px;
    margin: 0 auto;
  }

  .box-full {
    width: 380px;
  }
}

@media (min-width: 980px) {
  #page {
    width: 930px;
    margin: 0 auto;
  }
}

button {
  background-color: #008080;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  border: none;
  color: #ffffff;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
  outline: none;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
}

button.on {
  background-color: #f1f1f1;
  color: #000000;
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="time"],
input[type="date"],
select {
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 10px;
  width: 280px;
  padding:5px;
}

input[type="time"] {
  width: 110px;
}

.setup input[type="time"] {
  width: 110px;
}

.setup input[type="date"] {
  width: 164px;
}

@media screen and (max-width: 420px) {
  input[type="text"],
  input[type="password"],
  select {
    width: 240px;
  }

  input[type="time"] {
    width: 85px;
  }

  input[type="date"] {
    width: 174px;
  }
}

#update {
  background-color: red;
}

.container {
  /* margin: 20px; */
 	height: inherit;
  padding-bottom:20px;
}

.tabs {
  padding-bottom:4px;
  overflow: hidden;
}
.tabs:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs label {
  background: #008080;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 1em;
  height: 2.5em;
  line-height: 2.5em;
  margin-right: .25em;
  padding: 0 1.5em;
  text-align: center;
}

.tabs input:hover + label {
  background: #e1e1e1;
  color: #000;
}

.tabs input:checked + label {
  background: #f1f1f1;
  color: #000;
}

#content {
  background: #e1e1e1;
  border-radius: .5em .5em .5em .5em;
  box-shadow: 1px 7px 7px 1px rgba(0, 0, 0, 0.4);
  display: block;
}

#content:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

#footer {
  font-size: 15px;
  text-align: center;
  margin-bottom: 0;
}

.small-text{
  font-size: 10px;
  word-wrap: break-word;
}

.saved {
  border-color: #3c763d !important;
  border-left-width: 5px !important;
}

.warning {
  border-left-color: #aa6708;
  border-left-width: 5px;
}

.warning h4 {
  color: #aa6708;
  margin-top: 0;
  margin-bottom: 5px;
}

.error {
  border-left-color: #a94442;
  border-left-width: 5px;
}

.error h4 {
  color: #a94442;
  margin-top: 0;
  margin-bottom: 5px;
}

.error td {
  color: #a94442;
}

.error td:first-child {
  border-left-color: #a94442;
  border-left-width: 5px;
}

/* Nice slider switch */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  vertical-align: -40%;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #008080;
}

input:focus + .slider {
  box-shadow: 0 0 1px #008080;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 12px;
}

.slider.round:before {
  border-radius: 50%;
}

.info {
  background-color: #008080;
  border-radius: 100%;
  color: #ffffff;
  display: inline-block;
  font-family: serif;
  font-size: 12px;
  font-style: italic;
  height: 16px;
  margin-left: 16px;
  text-align: center;
  width: 16px;
  vertical-align: 20%;
}

.info::before
{
  content: "i";
}

span.selected
{
  color: #008080;
}

.ready {
  border-color: rgb(1, 196, 14);
  border-left-width: 5px;
  box-shadow: 1px 7px 7px 1px rgba(1, 196, 14, 0.3);
}

.connected {
  border-color: rgb(213, 255, 112);
  border-left-width: 5px;
  box-shadow: 1px 7px 7px 1px rgba(213, 255, 112, 0.4);
}

.charging {
  border-color: rgb(0, 146, 247);
  border-left-width: 5px;
  box-shadow: 1px 7px 7px 1px rgba(0, 146, 247, 0.4);
}

.sleeping {
  border-color: rgb(146, 0, 247);
  border-left-width: 5px;
  box-shadow: 1px 7px 7px 1px rgba(146, 0, 247, 0.4);
}

/*Separator lines*/
hr {
height: 1px;
color: #eee;
background-color: #eee;
border: none;
}

/* update colours */
.updateBad {
  color: rgb(255,0,0);
}
.updateGood {
  color: rgb(50,200,50);
}
.updateSlow {
  color: rgb(240,180,20);
}
.updateSlower {
  color: rgb(255,125,20);
}
