[submodule "gui-nightshift"]
	path = gui-nightshift
	url = https://github.com/OpenEVSE/openevse-gui-nightshift
	branch = RePartition
[submodule "migrator"]
	path = migrator
	url = https://github.com/RAR/openevse-16mb-migrator
