body {
    background-color:#fff;
    font-family:sans-serif;
    color:#333;
    font:14px/1.3 Helvetica, sans-serif;
	height:1400px;
}
    
#page {
    margin:20px;
    background-color:#fff;
}

h1 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eee;
    color:#73769f;
}
 
h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eee;
}
 
table {
    width:100%;
    border-collapse: collapse;
}
  
table, th, td {
    text-align:left;
    border: 1px solid #ddd;
    padding:6px 13px;
}
  
tr:nth-child(2n+2) {background-color:#f3f3f3;}
    
.box {
    padding:20px;
}
    
.box380 {
    width:380px;
    float:left;
    padding:0px;
    margin-left:0px;
    margin-right:20px;
    margin-bottom:20px;
    border: 1px solid #ddd;
	border-radius: 1em 1em 1em 1em;
	box-shadow: 1px 7px 7px 1px rgba(0, 0, 0, 0.4);
}
  
@media (min-width: 980px) {
    #page {
        width:980px;
		height: 1280px;
        margin:0px
    }
}
    
@media (max-width: 980px) {
    #page {
        width:510px;
		height: 2320px;
        margin:0px;
    }
}
    
input[type=text] {
    padding:5px;   
}
 
button {
	padding: 5px;
}

#container {
    margin: 20;
	height: inherit;
	padding-bottom:20px;   
}

#container input {
	height: 2.5em;
	visibility: hidden;
}

#container label {
	background: #008080; 
	border-radius: .3em .3em .3em .3em;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
	color: #fff;  
	cursor: pointer;
	display: block;
	float: left;
	font-size: 1em;  
	height: 2.5em;
	line-height: 2.5em;
	margin-right: .25em;
	padding: 0 1.5em;
	text-align: center;
}

#container input:hover + label {
	background: #e1e1e1;  
	color: #000;  
}

#container input:checked + label {
	background: #f1f1f1;  
	color: #000; 
	position: relative;
	z-index: 6;
	/*
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-o-transition: .1s;
	-ms-transition: .1s;
	*/
}

#content {
	background: #e1e1e1;
	border-radius: .5em .5em .5em .5em;
	box-shadow: 1px 7px 7px 1px rgba(0, 0, 0, 0.4);	
	min-height: 50em;  
    position: relative;
	width: 100%;
	height: 88%;
	z-index: 5; 
}

#content div {
	opacity: 0;
	padding: 1.5em;
    position: absolute;
	z-index: -100;
	
	/*
	transition: all linear 0.1s;
	*/
}

#content-1 div {
    position: relative;
    background: #ffffff;
    opacity: 100;
    z-index: 7;
}

#content-1 div input[type=text] {
    visibility: visible;
    border: 1px solid #ddd;
    padding:5px;
    z-index: 200;
}

#content-1 div input[type=checkbox] {
   visibility: visible;
   z-index: 7;
}

#content-1 iframe {
    position: relative; 
    background: #ffffff;
    opacity: 100;
    z-index: 7;
}

#content-2 div {
    position: relative;    
    background: #ffffff;
    opacity: 100;
    z-index: 8;  
}

#content-3 div {
    position: relative; 
    background: #ffffff;
    opacity: 100;
    z-index: 9;   
}

#content-3 iframe {
    position: relative; 
    background: #ffffff;
    opacity: 100;
    z-index: 9;
}

#content-4 div {
    position: relative; 
    background: #ffffff;
    opacity: 100;
    z-index: 9;  
}
	
#content-4 iframe {
    position: relative; 
    background: #ffffff;
    opacity: 100;
    z-index: 9;   
}

#container input#tab-1:checked ~ #content #content-1,
#container input#tab-2:checked ~ #content #content-2,
#container input#tab-3:checked ~ #content #content-3,
#container input#tab-4:checked ~ #content #content-4 {
    opacity: 1;
    z-index: 10;
    visibility: visable;
}


input.visible {
  visibility: visible !important;
}