
@media print
{
  .solar, .gridie, .shaper
  {
    page-break-inside: avoid;
  }
}

div.solar
{
  height: 370px;
  width: 100%;
}

div.shaper
{
  height: 370px;
  width: 100%;
}

div.gridie
{
  height: 740px;
  width: 100%;
}

.hide-divert .solar,
.hide-divert .gridie,
.hide-divert tr.solar,
.hide-divert tr.gridie
{
  display: none;
}

.hide-shaper .shaper,
.hide-shaper tr.shaper
{
  display: none;
}
