
@media print
{
  .solar,.gridie
  {
    page-break-inside: avoid;
  }
}

.solar
{
  height: 370px;
  width: 100%;
}

.shapper
{
  height: 370px;
  width: 100%;
}

.gridie
{
  height: 740px;
  width: 100%;
}
