body {
  background-color:#fff;
  font-family:sans-serif;
  color: #333333;
  font: 14px Helvetica, sans-serif;
  box-sizing: border-box;
}

#page {
  margin: 20px;
  background-color: #ffffff;
}

iframe {
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #777777;
  color: #ffffff;
  border: 1px solid #f1f1f1;
  padding: 8px;
}

td {
  background-color: #ffffff;
  color: #777777;
  border: 1px solid #e1e1e1;
  padding: 8px;
}

tr:nth-child(2n+2) {
  background-color:#f3f3f3;
}

.box {
    padding:20px;
}

h1 {
  padding-bottom: 0.3em;
  color: #008080;
  font-size: 45px;
  font-weight: normal;
  font-family: Garmond,"sans-serif";
  text-align: left;
  margin: 0;
}

h1 span {
  font-weight: bold;
  font-family: Garmond,"sans-serif";
  color: #000000;
}

h2 {
  padding-bottom: 0.2em;
  border-bottom: 1px solid #eee;
}

h3 {
  padding-top: -5px;
  padding-left: 50px;
  font-weight: bold;
  font-family: Arial,"sans-serif";
  font-size: 17px;
  color: #b6b6b6;
  margin: -25px 0 -5px 0;
}

.box380 {
  width: 380px;
  float: left;
  padding: 20px;
  margin: 20px 20px 20px 20px;
  border: 1px solid #ddd;
  border-radius: 1em 1em 1em 1em;
  box-shadow: 1px 7px 7px 1px rgba(0, 0, 0, 0.4);
  background: #ffffff;
}


@media (max-width: 494px) {
  .box380 {
    margin: 20px auto;
    padding: 10px;
    width: 284px;
    float: none;
  }
}

@media (min-width: 980px) {
  #page {
    width: 930px;
    margin: 0 auto;
  }
}

@media (max-width: 980px) {
  #page {
    width: 465px;
    margin: 0 auto;
  }
}

@media (max-width: 494px) {
  #page {
    width: 350px;
    margin: 0 auto;
  }
}

button {
  background-color: #008080;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  border: none;
  color: #ffffff;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
  outline: none;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
}

input[type="text"],
input[type="password"],
input[type="file"] {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  width: 280px;
}

@media screen and (max-width: 420px) {
  input[type="text"],
  input[type="password"]  {
    width: 240px;
  }
}

#update {
  background-color: red;
}

.container {
  /* margin: 20px; */
 	height: inherit;
  padding-bottom:20px;
}

.tabs {
  padding-bottom:4px;
  overflow: hidden;
}
.tabs:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs label {
	background: #008080;
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
	color: #fff;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 1em;
	height: 2.5em;
	line-height: 2.5em;
	margin-right: .25em;
	padding: 0 1.5em;
	text-align: center;
}

.tabs input:hover + label {
	background: #e1e1e1;
	color: #000;
}

.tabs input:checked + label {
	background: #f1f1f1;
	color: #000;
	/*
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-o-transition: .1s;
	-ms-transition: .1s;
	*/
}

#content {
	background: #e1e1e1;
	border-radius: .5em .5em .5em .5em;
	box-shadow: 1px 7px 7px 1px rgba(0, 0, 0, 0.4);
	display: block;
}

#content:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

@media (max-width: 466px) {
  #content {
	  top: 60px;
  }
}

input[type=text] {
  border: 1px solid #ddd;
  padding:5px;
}

input[type=file] {
  border: 1px solid #ddd;
  padding:5px;
}

#footer {
  font-size: 15px;
  text-align: center;
  margin-bottom: 0;
}

.small-text{
  font-size: 10px;
  word-wrap: break-word;
}

/*
#content input[type=radio], input[type=checkbox] {
  display:none;
}
#content input[type=radio] + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align:middle;
  margin-right: 8px;
  background-color: #008080;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}
#content input[type=checkbox] + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align:middle;
  margin-right: 8px;
  background-color: #008080;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}
#content input[type=radio]:checked + label:before {
  content: "\2022";
  color:white;
  background-color: #666;
  font-size:1.8em;
  text-align:center;
  line-height:14px;
  text-shadow:0px 0px 3px #eee;
}
#content input[type=checkbox]:checked + label:before {
  content:"\2714";
  color:white;
  background-color: #666;
  text-align:center;
  line-height:15px;
  text-shadow:0px 0px 3px #eee;
}
*/

/* Common styles for all types */
.warning {
  border-left-color: #aa6708;
  border-left-width: 5px;
}

.warning h4 {
  color: #aa6708;
  margin-top: 0;
  margin-bottom: 5px;
}

.error {
  border-left-color: #a94442;
  border-left-width: 5px;
}

.error h4 {
  color: #a94442;
  margin-top: 0;
  margin-bottom: 5px;
}
